[core]
  autocrlf = true
	editor = vim
[log]
  date = relative
[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[alias]
  lg = log --abbrev-commit --all --graph
[credential]
  helper = cache
[user]
	email = info@johanvansoest.nl
	name = Johan van Soest
